---
import { Image } from 'astro:assets';
import andyImg from '../assets/andy_conceptart_colored.png';
---

<div class="andy-wrap">
  <Image src={andyImg} alt="Andy" width={300} height={300} />
</div>

<style>
  .andy-wrap {
    text-align: center;
    z-index: 10;
  }
</style>