---
import TerminalIntro from './TerminalIntro.astro';
---


<TerminalIntro />
<p>
AI promotes endless avenues of creativity, project building, and integration into all sorts of
academic disciplines. At &HACKS XII, hackers will use AI to its fullest potential. What can one
do with AI&Linguistics, AI&Chemistry, AI& wherever your imagination will take you.
</p>