---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
const { title = "Hackathon 2026" } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body id="top" class="dark-mode">
    <Navbar />  
    <slot name="above-filter" /> <!-- outside the wrapper so no filter -->
    <div class="page-wrapper">
      <main>
        <slot />
      </main>
    </div>

    <style is:global>
      :root { --transition-speed: 1.2s; }
      body { margin: 0; transition: background var(--transition-speed); }

      .page-wrapper {
        transition: filter var(--transition-speed); }
    </style>
  </body>
</html>